body {
    width: 100%;
    background-color: aliceblue;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}

.nav3 {
    padding-right: 15px;
    background-color: white;
    text-align: left;
    text-decoration: none;
}
.text {
    font-size: 25px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    padding: 0%;
    margin: 0px 50px 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.textb {
    width: 100px;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
.container{
    width: 80%;
    text-decoration: none;
    margin-top: 25px;
}
.text:hover{
    color:rgb(0, 140, 255);
    text-decoration: none;
}
i {
    color: black;
    font-size: 150%;
    vertical-align: middle;
}
i:hover{
    color: rgb(0, 140, 255);
    
}


@media only screen and (max-device-width: 800px) {
    body{width: 100%;
        background-color: aliceblue;
    }
    .text {
        font-size: 15px;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 5px 0px 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .container{
        width: 100%;
        margin-top: 100px;
        text-decoration: none;
    }
}
