body {
    background-color: aliceblue;
    margin: 0;
}

.nav3 {
    padding-right: 15px;
    background-color: white;
    vertical-align: top;
    text-align: left;
    text-decoration: none;
}

.textb {
    width: 100px;
    padding: 0%;
    margin: 0%;
}

.text {
    font-size: 25px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    padding: 0%;
    margin: 0px 50px 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.orc {
    margin:0;
    color: black;
    background-color: white;
    border: black 1px solid;
    margin: 5% 30% 5% 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-shadow: 10px 10px 10px black;

}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 0;
}

 input {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border: 1px solid gray;
    color: black;
    font-size: larger;
}

.title {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 140, 255);
    padding: 25px;
    margin-top:0;
    text-align: center;
}

.but {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

#submit {
    width: 100%;
    background-color: rgb(47, 61, 79);
    border: none;
    outline: none;
    padding: 20px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: larger;
}

#submit:hover {
    background-color: rgb(17, 48, 88);
}

select {
    width: 100%;
    padding: 15px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border: 1px gray solid;
    color: black;
    background-color: white;
    text-align: center;
    font-size: larger;
}

.map {
    text-align: center;
    bottom: 50%;
    margin-top: 50px;
}

.text:hover {
    color: rgb(0, 140, 255);
}


i {
    color: black;
    font-size: 150%;
    vertical-align: middle;
}

i:hover {
    color: rgb(0, 140, 255);

}
#local{
    text-align: center;
}

@media only screen and (max-device-width: 1000px){
    .nav3 {
        padding-right: 15px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
        font-size: larger;
    }
    .text {
        font-size: 100%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 25px 0px 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}
@media only screen and (max-device-width: 700px) {
    body {
        width: 100%;
        background-color: aliceblue;
    }

    .nav3 {
        width: 100%;
        padding-right: 15px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
    }

    .orc {
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: black;
        background-color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }

    .text {
        width: 100%;
        font-size: 100%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 5px 0px 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .map {
        width: 97%;
        height: 450px;
        align-items: center;
    }

    .vid {
        margin-top: 100px;

    }
}
@media only screen and (max-device-width: 430px) {
    body {
        width: 100%;
        background-color: aliceblue;
    }
    .nav3 {
        width: 100%;
        padding-right: 5px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
    }
    .text {
        width: 100%;
        font-size: 90%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 3px 0px 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .textb{
        width: 80px;
    }}
