body {
    width: 100%;
    background-color: aliceblue;
    margin: 0;
}

.nav3 {
    padding-right: 15px;
    background-color: white;
    vertical-align: top;
    text-align: left;
    text-decoration: none;
}
.textc{
    opacity: 0;
}

.textb {
    width: 100px;
    padding: 0%;
    margin: 0%;
}

.text {
    font-size: 25px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    padding: 0%;
    margin: 0px 50px 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.orc {
    margin: 0;
    color: black;
    background-color: white;
    border: black 1px solid;
    margin: 5% 30% 5% 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-shadow: 10px 10px 10px black;
    padding: 5px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 0;
}

input {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border: 1px solid gray;
    color: black;
    font-size: larger;
}

.title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 140, 255);
    padding: 25px;
    margin-top: 0;
    text-align: center;
}

.but {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

#submit {
    width: 100%;
    background-color: rgb(47, 61, 79);
    border: none;
    outline: none;
    padding: 20px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: larger;
}

#submit:hover {
    background-color: rgb(17, 48, 88);
}

select {
    width: 100%;
    padding: 15px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border: 1px gray solid;
    color: black;
    background-color: white;
    text-align: center;
    font-size: larger;
}

.map {
    text-align: center;
    bottom: 50%;
    margin-top: 50px;
}

.text:hover {
    color: rgb(0, 140, 255);
    text-decoration: none;
}


i {
    color: black;
    font-size: 150%;
    vertical-align: middle;
}

i:hover {
    color: rgb(0, 140, 255);

}

#local {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 10%;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background: rgb(0, 128, 255);
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform:scale(1.1)
}

img {
    border-radius: 5px 5px 0 0;
}

.container2 {
    padding: 2px 16px;
    
}
.sbnos{
    text-align: center;
}
.sbnos h1{
    color: black;
    margin: 0;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.box{
    margin: 0;
    color: black;
    margin: 3% 20% 3% 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
}
.but1{
    background-color: rgb(47, 61, 79);
    border: none;
    outline: none;
    padding: 15px;
    margin: 0px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: larger;
    border-radius: 10px;

}
.but1:hover{
    background-color: rgb(17, 48, 88);
    text-decoration: none;
}
.container{
    padding-top: 250px;
    vertical-align: middle;
}
#myCarousel{
    width: 100%;
    text-decoration: none;
    border: 1px black solid;
    outline: none;
    box-shadow: 5px 5px 5px gray;
}
p{
    color: rgb(121, 121, 121);
    margin: 0;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 13px;
}

@media only screen and (max-device-width: 1024px) {
    .nav3 {
        padding-right: 15px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
        font-size: larger;
    }

    .text {
        font-size: 100%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 25px 0px 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 25%;
        border-radius: 5px;
        display: inline-block;
        justify-content: center;
        background: rgb(0, 128, 255);
        padding: 0;
        color: white;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-bottom: 20px;
}
.container2 {
    padding: 0px;
    text-align: center;
}
}
.container{
    padding-top: 100px;
}

@media only screen and (max-device-width: 700px) {
    body {
        width: 100%;
        background-color: aliceblue;
    }

    .nav3 {
        width: 100%;
        padding-right: 15px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
    }

    .orc {
        margin: 0;
        margin-top: 40px;
        width: 100%;
        color: black;
        background-color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }

    .text {
        width: 100%;
        font-size: 100%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 5px 0px 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .map {
        width: 97%;
        height: 450px;
        align-items: center;
    }

    .vid {
        margin-top: 100px;
        

    }
    .box{
        margin: 0;
        margin-left: 10px;
        width: 90%;
        color: black;
        background-color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    
    
}

@media only screen and (max-device-width: 500px) {
    body {
        width: 100%;
        background-color: aliceblue;
    }

    .nav3 {
        width: 100%;
        padding-right: 5px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
    }

    .text {
        width: 100%;
        font-size: 90%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 3px 0px 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .textb {
        width: 80px;
    }
}
@media only screen and (max-device-width: 450px) {
    body {
        width: 100%;
        background-color: aliceblue;
        
    }

    .nav3 {
        width: 100%;
        padding-right: 5px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
        
    }

    .text {
        width: 90%;
        font-size: 80%;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 5px 0px 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .textc {
        width: 250px;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-left: 70px;
        opacity: 20%;
    }
    .textb{
        width: 60px;
        padding: 0;
    }
    i{
        font-size: 80%;
    }
    
}