body {
    background-color: aliceblue;
    margin: 0;

}

.nav3 {
    padding-right: 15px;
    background-color: white;
    vertical-align: top;
    text-align: left;
    text-decoration: none;
}

.textb {
    width: 100px;
    padding: 0%;
    margin: 0%;
}

.text {
    font-size: 25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: black;
    vertical-align: middle;
    padding: 0%;
    margin: 0px 50px 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.orc {
    color: black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 1px solid;
    border-radius: 20px;
    padding: 50px 25px 50px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-shadow: 10px 10px 10px black;
}

label {
    width: 135px;
    display: inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
    color: black;
    text-shadow: 1px 1px 1px gray;
}

input {
    padding: 10px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 2px;
    color: black;
}

.title {
    text-align: center;
    margin: 10px;
    color: black;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.but {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

#submit {
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#submit:hover {
    background-color: greenyellow;
    transition: 1s;
}

select {
    padding: 7px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 2px;
    color: black;
    background-color: white;
}

.map {
    text-align: center;
    bottom: 50%;
    margin-top: 50px;
}

.text:hover {
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px 1px black;
    transition: 1s;
}

video{margin: 0%;
}

i {
    color: black;
    font-size: 150%;
    vertical-align: middle;
    text-shadow: 1px 1px 1px black;
}
i:hover{
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px 1px black;
    transition: 1s;
    
}

@media only screen and (max-device-width: 800px) {
    body {
        width: 100%;
        background-color: aliceblue;
    }

    .nav3 {
        width: 100%;
        padding-right: 15px;
        background-color: white;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
    }

    .orc {
        color: black;
        border: 1px black solid;
        background-color: white;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 25px 50px 25px 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }

    .text {
        font-size: 15px;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        padding: 0%;
        margin: 0px 5px 0px 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .map {
        width: 97%;
        height: 450px;
        align-items: center;
    }

    .vid {
        margin-top: 100px;
       
    }
}
